* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sketch-container>div {
    display: flex;

    flex: 1;
}

#sketch-container>div>div {
    flex: 1;

    border: 1px solid black;
}

#sketch-container{
    background-color: rgb(185, 185, 185);
    width: 425px;
    height: 425px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}